// General styles
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; // Prevent font scaling in landscape while allowing user zoom
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header, section {
  display: block;
}

// Infographic
.infographic-section {
  padding: 60px 0;
}

.infographic-container {
  position: relative;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  @media @min1281 {
    width: 400px;
    height: 400px;
  }
  &.hidden { visibility: hidden; opacity: 0; }
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

#arc-3 {
  .st0{fill:#80E252;}
  .st1{fill:#fff;}
}

#arc-2 {
  .st0{fill:#fff;}
  .st1{fill:#063501;}
}

#arc-1 {
  .st0{fill:#fff;}
  .st1{fill:#0F9305;}
}

#circle {
  .st0{fill:#124c05;}
}

.point-1 {
  top: -50px;
  left: 100px;
  @media @min1281 {
    top: -50px;
    left: 100px;
  }
  .label-title .line {
    width: 420px;
    @media @min1281 { width: 420px; }
  }
  .border-line { background: #124c05; }
}
.point-2 {
  top: 10px;
  left: -430px;
  @media @min1281 {
    top: 10px;
    left: -430px;
  }
  .label-title .line {
    width: 312px;
    @media @min1281 { width: 312px; }
  }
  .border-line { background: #063501; }
}
.point-3 {
  top: -197px;
  left: 80px;
  @media @min1281 {
    top: -197px;
    left: 80px;
  }
  .label-title .line {
    width: 370px;
    @media @min1281 { width: 370px; }
  }
  .border-line { background: #0F9305; }
}
.point-4 {
  top: -120px;
  left: -450px;
  @media @min1281 {
    top: -120px;
    left: -450px;
  }
  .label-title .line {
    width: 270px;
    @media @min1281 { width: 270px; }
  }
  .border-line { background: #80E252; }
}

.point-1,
.point-3 {
  text-align: right;
  .label-title {
    .line { right: 0; }
    .line-cover {
      right: 0;
      .translateX(100%);
    }
  }
  .txt { padding-right: 15px; }
  .border-line { right: 0; }
}
.point-2,
.point-4 {
  text-align: left;
  .label-title {
    .line { left: 0; }
    .line-cover {
      left: 0;
      .translateX(-100%);
    }
  }
  .txt { padding-left: 15px; }
  .border-line { left: 0; }
}

.path-title {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}

.img-labels {
  position: absolute;
  top: 220px;
  left: 200px;
}

.label-title {
  position: relative;
  margin-bottom: 16px;
  width: 270px;
  line-height: 26px;
  color: #595a61;
  @media @min1281 {
    margin-bottom: 24px;
    width: 330px;
    line-height: 30px;
  }
  .txt {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    @media @min1281 { font-size: 15px; }
  }
  .line {
    position: relative;
    display: block;
    content: '';
    position: absolute;
    top: 40px;
    height: 1px;
    overflow: hidden;
    @media @min1281 { top: 50px; }
  }
  .line-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background: #595a61;
  }
}

.border-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background: #84888f;
}

.title-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
